@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');


.signUp{
    margin-right: 15px;
    line-height: 20px;
<<<<<<< HEAD
}
=======
    padding-left:25px;
    padding-right:25px;

}
.login{
    margin-left:15px;
    line-height:20px;
    padding-right:25px;
    padding-left:25px;
}
>>>>>>> bdaadae9f0fa8a2dfc7de9a5fbba4e46ef6c96e4

.paperContainer {
    background-image: url('../images/landing.jpg');
    background-size: cover;
    overflow: hidden;
    height:100vh;
    align-content:center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family:Lato;
    flex-direction:column;
}

.registerModal {
    background: white;
    padding: 2.5%;
}

input {
    text-align: center;
}

.registerForm {
    margin-top: 20%;
}